<a href="https://colab.research.google.com/github/kamallearner123/python-in-a-notebook/blob/master/KamalSatish_Jan22_2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

'''
Purpose:
1) Get the input from:
  -> STDIO
  -> Ethernet
  -> Excel sheets, doc, image, pdf.....
  -> .txt
  -> DB
  -> Sensors (Embedded)
  -> etc....

-----Data structures (how you keep read data)
List, dictionaries, sets, string,...

2) Process the data:
  -> Functionality (maths, formatting, filtering.....)
  -> Libraries (inbuild)

3) Output:
  -> STDOUT
  -> Ethernet,txt, excel, image...

C, C++, Python, Java, stc.....


Application: 
0-10
Performance   : 10 (5)
Productivity  : 5  (10)
Process       : 5  (5)
Environment   : 10 (5)
Competency    : 10 (2-3)

Data science, Machine learning (which is not real-time)
'''


'''
1) Rich  data types (lists, tuples, strings, sets, dictionaries) and simple to use
2) OOPs (classes, objects) : By default every thing is an object
3) Interpreter (not compilation program)
python, shell, java scripting, ruby, perl, tcl, ...



'''

'\nPurpose:\n1) Get the input from:\n  -> STDIO\n  -> Ethernet\n  -> Excel sheets, doc, image, pdf.....\n  -> .txt\n  -> DB\n  -> Sensors (Embedded)\n  -> etc....\n\n2) Process the data:\n  -> Functionality (maths, formatting, filtering.....)\n  -> Libraries (inbuild)\n\n3) Output:\n  -> STDOUT\n  -> Ethernet,txt, excel, image...\n\nC, C++, Python, Java, stc.....\n\n\nApplication: \n0-10\nPerformance   : 10 (5)\nProductivity  : 5  (10)\nProcess       : 5  (5)\nEnvironment   : 10 (5)\nCompetency    : 10 (2-3)\n\nData science, Machine learning (which is not real-time)\n'

In [ ]:
print("Hello world")

Hello world

In [ ]:
a = 10 #a is integer
print(type(a))
print(dir(a))  #List member functions and attributes

<class 'int'>
['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes']

In [ ]:


'''
STDIN, STDOUT
'''
a = input ("Enter value of a") #scanf()
print(a) #printf("a = %d\n", a);

Enter value of a100
100

In [ ]:
name = input ("Enter your name") #scanf()
print("Your name is ", name) #printf("a = %d\n", a);

Enter your namekamal kumar
Your name is  kamal kumar

In [ ]:
'''
If, else, elif
'''

# 0 -200000 -notax   if
# 200001 - 500000 - 30%
# > 500001 - 40%

sal = input("Enter your salary ")
sal = int(sal)
if sal <= 200000:
  print("No tax")
  print("Haapy.. :)")
elif 200001 <= sal <= 500000:
  tax = sal*0.3
  print("tax to be paid = ", tax)
else:
  tax = sal*0.4
  print("tax to be paid = ", tax)
  
print("End....of the program")

Enter your salary 600000
tax to be paid =  240000.0
End....of the program

In [ ]:

#for i in range(0,10):#for (int i=0; i<100; i++) -- range()
for i in [1,2,3,6,9,"End"]:# -- list
  print(i)

for i in {1:"One", 2:"two"}:# -- dictionary
  print(i)

1
2
3
6
9
End
1
2

In [ ]:
for i in {2,3,4}:# -- set
  print(i)

for i in (2,3,4):# -- touple
  print(i)

2
3
4
2
3
4

In [ ]:

for i in range(0,100):
  if (i%2 != 0):
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [ ]:


'''
List: [] Data structure
'''
list1 = ["kamal", "satish", "anil", 100, 1.1, [1,2,3,4,]]
print(dir(list1))
list1.insert(0, "sunil")
list1.insert(1, "kishore")
print(list1)

#Going to freeze
t1 = tuple(list1)
list1.clear()
del list1
print(t1)

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']
['sunil', 'kishore', 'kamal', 'satish', 'anil', 100, 1.1, [1, 2, 3, 4]]
('sunil', 'kishore', 'kamal', 'satish', 'anil', 100, 1.1, [1, 2, 3, 4])

In [ ]:
'''
tuple: () Data structure: Read only
'''
toupl1 = ("kamal", "satish", "anil", 100, 1.1, [1,2,3,4,])
print(dir(toupl1))
print(toupl1)

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']
('kamal', 'satish', 'anil', 100, 1.1, [1, 2, 3, 4])

In [ ]:
'''
set:  {}
'''

batsmen = {"kohli", "rohith", "sachin", "dravid", "kapil", "pathan", 1, 200}
bowler = {"kapil","pathan", "kumble", "sachin"}
batsmen.add("jadeja")
batsmen.remove("jadeja")

allrounder = batsmen & bowler #interseption
print(allrounder)

team = batsmen | bowler #union
print(team)

onlybatsmen = batsmen - bowler
print(onlybatsmen)

onlybowler = bowler - batsmen
print(onlybowler)

print(dir(batsmen))

{'kapil', 'sachin', 'pathan'}
{'kapil', 1, 'kumble', 200, 'dravid', 'sachin', 'rohith', 'kohli', 'pathan'}
{1, 200, 'dravid', 'rohith', 'kohli'}
{'kumble'}
['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [ ]:
'''
set:  {}
'''
n1 = {2,3,4,5,6,7,8,9}
n2 = {4,5,10}

print("Is n2 sub set of n1 =", n2.issubset(n1))
print(n1-n2)

Is n2 sub set of n1 = False
{2, 3, 6, 7, 8, 9}

In [ ]:
'''
dictionary: {key:value}
'''


sachin = {"Name":'sachin', "rank":10, "address":"mumbai", "mesal":["bharatha rathna", "arjun"]}
satish = {"Name":'satish', "rank":1, "address":"hyd", "mesal":["bharatha rathna", "arjun"]}

students = [sachin, satish]

for student in students:
  print(student["Name"])

sachin
satish

In [ ]:
batsmen = {"kohli", "rohith", "sachin", "dravid", "kapil", "pathan"}
list1 = list(batsmen)
list1.sort()
print(list1)

print(list1[0])

['dravid', 'kapil', 'kohli', 'pathan', 'rohith', 'sachin']
dravid

In [ ]:
data = '''
kamal
+91-97000000000
kamal@juniper.net
24-05-1985
220000.00
$%^&

satish
+91-970011100000
kamal123@juniper.net
24-05-1985
220000.00
$%^&
'''

print(data)

import re #importing regular exp module

names = re.findall(r'\b[A-Z a-z]+(?!\.)\b', data)
print(names)

mails = re.findall(r'[a-zA-Z0-9]+@[a-zA-Z]+\.[a-zA-Z]+', data)
print(mails)

phonenums = re.findall(r'\+[0-9]{2}-[0-9]{10}', data)
print(phonenums)

kamal
+91-97000000000
kamal@juniper.net
24-05-1985
220000.00
$%^&

satish
+91-970011100000
kamal123@juniper.net
24-05-1985
220000.00
$%^&

['kamal', 'kamal', 'net', 'satish', 'net']
['kamal@juniper.net', 'kamal123@juniper.net']
['+91-9700000000', '+91-9700111000']